body, html {
  height: 100%;
  margin: 0;
  background-color:313131;
  font-family:Montserrat;
  font-size: 20px;
}

/*fonts*/

.h1 {

}
.h2 {
  font-family: allura;
  font-size: 60px;
}

.h3 {

  font-family: montserrat;
  font-size: 40px;
  font-style: bold;
  
}


/*nav*/
.navigation {
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
 
}
.nav-btn {
  background: none;
  border: none;
  margin-bottom: 25px;
}
.nav-btn img {
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
}
.nav-btn:focus {
  outline: none;
}
.collapse {
  display: none;
}

/* header*/ 
.hero-image {
    background-image: url("images/Logo.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Our Philosophy*/ 
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-container > div {
    width: 1000px;
    margin: 100px;
    margin-left: 250px;
    margin-right: 150px;
    line-height: 75px;
    font-size: 30px;
  }

    /* experiance*/ 
    .flex-container-2 {
      display: flex;
      justify-content: space-between;
  }
  
  .flex-container-2 .left-side {
      width: 35%;
      margin-left: 250px;
      flex-direction: row;
      image-orientation: inherit;
  }

  .flex-container-2 .right-side {
      width: 65%;
      height: 640px;
      margin-right: 150px;
      margin-left: 40px;
      
  }
  .flex-container-2 .right-side img {
    width: 100%;
    height: 640px;
}
    
  .flex-container-2 .icon-section {
      display: flex;
      flex-direction: column;
  
  }
      /*
  .flex-container-2 .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
